body{
    background-color: gray;
    
}
.container{
    width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    margin-left: 50px;
}
.firstline{
   display: flex;
   padding-top: 5px;
   padding-bottom: 5px;
   justify-content: space-between;
}
.profile{
     display: flex;
     justify-content: space-between;
}


img.main{
    width: 100%;
    height: 250px;
    object-fit: cover;
    

}
.pro{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    
}
.name{
    font-size: 8px;
    margin-left: 5px;
}
.name p{
    font-size: 11px ;
    margin-top: -10px;
}
.dots{
    font-weight: 600;
    margin-top: 13px;
}
.secondline{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;

}
.icons1{
    display: flex;
    
    
}
.love{
    margin-right: 10px;
}
.message{
    margin-right: 10px;
}
.share{
    margin-right: 10px;
}
.thirdimg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.pro1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.name1 h1{
    font-weight: lighter;
    font-size: 18px;
    color: black;
    margin-left: 7px;
}
.likes{
    font-size: 18px;
    font-weight: bolder;
    color: black;

}
.hours{
    margin-top: -7px;
    font-weight: lighter;
}
.commentview{
    font-weight: lighter;
    margin-top: -6px;
}
.paraspan{
     margin-top: -5px;
}
.span{
     font-weight: bolder;
     color: black;
}
.cardh{
     color:rgb(6, 39, 110);
}
#last{
    margin-top: -8px;
}

.main-container{
    display: flex;
    justify-content: center;
}